body{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    background: linear-gradient(180deg, #151846 0%, #903a3a 100%), linear-gradient(58.72deg, #213598 0%, #202668 100%), radial-gradient(100% 164.72% at 100% 100%, #e12ea6 0%, #31d560 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
    background-blend-mode: overlay, overlay, difference, normal;
}


header{
    background-image: linear-gradient(to right top, #151846, #1b1d4b, #202350, #262856, #2b2e5b);
}
    header h1{
        font-family:'Poppins', sans-serif;
        color: #db2d2d;
        font-size: 40px;
        text-shadow: 3px 1px 4px rgba(0,0,0,0.6);
    }
    .header-logo{
        height: 110px;
        padding-top: 5px;
    }
    #backhoe-img{
        padding-left: 15px;
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); 
        /* !!! sombra sobre el svg, no su caja contenedora */
    }


.navbar{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(to top, #111438, #151846);
}

    /* .carousel-item{
        height: 450px;
    }
    FUNCIONA PARA DELIMITAR EL TAMAÑO DE LA VERSION WEB, PERO ROMPE EL RESPONSIVE. ES PREFERIBLE CONTROLAR LA MEDIDA DE LAS IMÁGENES CON PS */

#welcomeBox{
    padding: 12%;
}
    h2{
        color: aliceblue;
    }
    p{
        color: aliceblue;
    }

footer{
    background: #151846;
    padding: 3%;
    clear: both;
    text-align: center;
    color: aliceblue;
    font-family: 'DM Sans', sans-serif;
}

/* SECCION NOSOTROS */

.row{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 5%;
}
    .about-us{
        margin-top: 130px;
        padding: 5%;
        width: 500px;
        box-sizing: border-box;
    }
        #legend{
         color: aliceblue;
         padding: 15px;
        }
    .staff{
        padding: 5%;
        width: 400px;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
        h2{
            padding: 3%;
        }
        h4{
            color: aliceblue;
            font-size: 20px;
            margin: 10px;
        }
        h5{
            color: aliceblue;
            font-size: 16px;
            margin: 10px;
        }
        #staff-img{
            margin: 20px;
        }

/* SECCION SERVICIOS */

/* #cajas-servicios{
    margin: 0;
} */
    #services{
        color: aliceblue;
    }
    .img-left{
        float: left;
        margin: auto;
        vertical-align: middle;
    }
    .img-right{
        float: right;
        vertical-align: middle;
    }
    .col{
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 50px;
        height: 150px;
        /* para darle margen al div entre la img y el borde, se trabaja sobre el div de la columna, no sobre el contenedor padre. */
    }

/* SECCION CONTACTANOS */

.container-formulario{
    display: flex;
    justify-content: center;
    margin: 5%;
}
    .plantilla-contacto{
        width: 720px;
        background-color: #2b2e5b;
        padding: 2%;
        border-radius: 8px 0px 0px 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    form{
        color: aliceblue;
    }
.info-contacto{
    text-align: justify;
    line-height: 30px;
    width: 300px;
    color: aliceblue;
    background-color: #434888;
    border-radius: 0px 8px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 12px;
    padding: 2%;
}
    .info-contacto h4{
        text-align: center;
    }
    li{
        list-style: none;
    }
    i{
        margin-left: 5px;
    }

